/**
 * Plugin: Minimal Coming Soon & Maintenance Mode
 * Styles for the Management panel
 */

.signals-clearfix {
  overflow: hidden;
}
.signals-clearfix:before,
.signals-clearfix:after {
  display: table;
  content: "";
}
.signals-clearfix:after {
  clear: both;
}
.signals-hide {
  display: none;
}
.signals-strong {
  font-weight: bold;
}
.signals-red-color {
  color: #e76e70;
}
.signals-cnt-fix {
  background: #f1f1f1;
  margin: 0;
  margin-left: -20px !important;
}
.signals-fix-wp38 {}
.signals-header {
  padding: 20px;
  background: #ffffff;
}
.signals-header p {
  float: left;
  font-size: 17px;
  margin: 0;
  margin-top: 3px;
}
.signals-header p span {
  display: block;
  font-size: 12px;
  font-weight: normal;
}
.signals-logo {
  float: left;
  margin-right: 10px;
  max-width: 48px;
  height: auto;
  margin-top: 2px;
  display: inline-block;
}
#header-right {
  position: absolute;
  left: 1114px;
  margin: 2px 0 0 0;
  padding: 10px;
}
#header-right label {
  display: inline-block;
  margin: 0 10px 0 0;
  font-size: 15px;
  padding: 0;
  vertical-align: top;
}
.csmm-status-wrapper {
  display: inline-block;
  border: 1px solid #666;
  padding: 0;
  margin: -4px 0 0 0;
  background: #fff;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
}
.csmm-status-wrapper .csmm-status-btn {
    padding: 4px 7px;
    display: inline-block;
    color: #666;
}
.csmm-status-wrapper.on .csmm-status-on {
    background: #64bd63;
    color: #fff;
}
.csmm-status-wrapper.off .csmm-status-off {
    background: #fe2929;
    color: #fff;
}
.signals-body {
  padding: 30px 20px 30px 20px;
}
.signals-body p {
  line-height: 24px;
  font-size: 14px;
}
.signals-single-section {
  padding: 30px;
}
.signals-float-left {
  width: 160px;
  float: left;
  margin-right: -160px;
}
.signals-float-right {
  margin-left: 160px;
  max-width: 1200px;
}
.signals-tile {
  display: none;
  position: relative;
  background-color: #ffffff;
  color: #666666;
  min-height: 300px;
}
.signals-tile .signals-tile-body {
  padding: 19px 18px 15px 24px;
}
.signals-tile .signals-tile-title {
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: bold;
  margin-bottom: 0px;
  text-transform: uppercase;
  border-left: 2px solid #fe2929;
  padding-left: 10px;
}
.signals-tile-title + p {
  margin: 0px 0 0 0px;
  border-left: 2px solid #fe2929;
  padding-left: 10px;
  padding-top: 5px;
}
.signals-tile .signals-tile-title span {
  font-weight: normal;
  margin-left: 10px;
}
.signals-tile .signals-tile-body ul {
  margin: 0;
  padding: 0;
}
.signals-tile .signals-tile-body ul li {
  margin: 12px 0;
  padding: 0;
}
.signals-tile .signals-tile-body ul li a {
  text-decoration: none;
  margin: 0;
}
.signals-section-content {
  margin-top: 30px;
}
.signals-main-menu {
  display: block;
  margin: 0;
  border-right: 1px solid #f1f1f1;
}
.signals-main-menu li {
  font-size: 14px;
  color: #888888;
  margin: 0;
  padding: 0;
  transition: all 300ms ease;
}
.signals-main-menu li a {
  display: block;
  color: #888888;
  padding: 10px;
  text-decoration: none;
  border: 1px solid transparent;
  border-bottom-color: #e2e2e2;
  outline: 0 !important;
  border: none;
  transition: all 300ms ease;
}
.signals-main-menu li:last-child a {
  border-bottom-color: transparent;
}
.signals-main-menu li a:hover {
  background: #ffffff;
  font-weight: bold;
  color: #333333;
  outline: 0;
}
.signals-main-menu li a.active {
  color: #333333;
  background-color: #ffffff;
  font-weight: bold;
  outline: 0;
  border: none;
  border-left: 2px solid #fe2929;
}

.signals-main-menu li a:focus{
  -webkit-box-shadow:none;
    box-shadow:none;
}

.signals-mobile-menu {
  display: none;
  text-align: center;
  margin-bottom: 20px;
}
.signals-mobile-menu a {
  display: inline-block;
  outline: 0;
}
.signals-mobile-menu a img {
  display: block;
  max-height: 15px;
  width: auto;
}
#signals-widgets-css-editor {
  width: 100%;
  height: 400px;
  margin-bottom: 10px;
}
.signals-links {
  font-size: 14px !important;
}
.signals-fixed-save-btn {
  position: fixed;
  bottom: 0px;
  margin-left: -20px;
  padding: 15px 10px;
  width: 100%;
  background: #fff;
  border-top: 1px solid #eee;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.05);
  z-index: 9999;
}
.signals-share a {
  display: inline-block;
  margin-right: 10px;
}
.signals-share a:last-child {
  margin-right: 0;
}

.theme-thumb {
  min-width: 150px;
  display: inline-block;
  margin: 15px;
  width: calc(33% - 25px);
  box-sizing: border-box;
  background-color: #f1f1f1;
  padding-bottom: 5px;
  border: thin solid transparent;
  position: relative;
}
.signals-section-content .theme-thumb:nth-child(3n + 1) {
  margin-left: 0;
}
.theme-thumb:hover {
  border: thin solid #00000099;
}
.theme-thumb span {
  display: block;
  padding: 5px 10px;
}
.theme-thumb img {
  max-width: 100%;
  border-bottom: 2px solid #fe2929;
}
.theme-thumb span.name {
  font-weight: 600;
  font-size: 15px;
}
.theme-thumb span.name small {
  font-weight: 400;
  font-size: smaller;
}
.theme-thumb .ribbon {
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
}
.theme-thumb .ribbon::before,
.theme-thumb .ribbon::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
}
.theme-thumb .ribbon i {
  position: absolute;
  display: inline-block;
  background-color: #fe2929e6;
  color: #fff;
  text-align: center;
  right: 0;
  top: 0;
}
.theme-thumb .ribbon span {
  padding: 10px;
}

/* drag&drop */

.signals-elements {
  padding: 10px 20px;
  margin-bottom: 30px;
  text-align: center;
}
.csmm-layout-builder {
  display: inline-block;
  width: 100%;;
  min-height: 60px;
  vertical-align: top;
  position: relative;
}
.arrange-label {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}
.browser-header {
  border: 3px solid #ccc;
  border-bottom-width: 0;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  text-align: left;
}
.browser-button {
  width: 20px;
  height: 20px;
  margin: 0 8px 0 0;
  border-radius: 50%;
  border: 2px solid #ccc;
  display: inline-block;
  box-sizing: border-box;
  background: #dddddd55;
}
.browser-input {
  width: calc(100% - 100px);
  height: 31px;
  margin: 0 0 -3px 15px;
  border: 2px solid #ccc;
  display: inline-block;
  box-sizing: border-box;
  text-align: right;
  padding: 0 10px;
}
.browser-input span {
  color: #ddd;
  display: inline-block;
  margin: 4px 0 -4px 0;
  vertical-align: inherit;
}
#arrange-items {
  border: 3px solid #ccc;
  border-bottom-width: 8px;
  box-sizing: border-box;
}
#arrange-items2 {
  border: 1px solid #ccc;
  width: 300px;
}
.arrange-wrapper {
  width: calc(49% - 30px);
  text-align: center;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 30px;
}
#active-modules {
  min-width: 380px;
  margin-right: 30px;
}
.csmm-layout-builder li a {
  text-decoration: none;
}
.csmm-layout-builder li {
  padding: 15px 15px;
  box-sizing: border-box;
  font-weight: bold;
  cursor: move;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  margin: 0;
  background: #ffffff;
  position: relative;
}
#arrange-items2 li {
  cursor: pointer;
}
.csmm-layout-builder li img {
  max-width: 100%;
}
#arrange-items2 li {
  padding: 5px;
}
.csmm-layout-builder:hover li {
  opacity: 0.3;
}
.csmm-layout-builder li.drag-action {
  opacity: 1;
}

.csmm-layout-builder.empty {
  background-color: #eee;
}
.csmm-layout-builder.empty:before {
  content: "Empty list.";
  font-weight: 200;
  text-align: center;
  width: 100%;
  left: 0;
  position: absolute;
  display: block;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
#arrange-items.empty:before {
  content: "Your Coming Soon page is empty - add modules from the list on the right";
}
#arrange-items2.empty:before {
  content: "No more modules available";
}

.csmm-layout-builder li:hover {
  border-top: 1px dashed #ff0000;
  border-bottom: 1px dashed #ff0000;
  opacity: 1;
}

.csmm-layout-builder li .actions-center {
  text-align: center;
  display: inline-block;
  position: absolute;
  margin: auto;
  top: -1px;
  background: #ff0000bf;
  padding: 6px 10px;
  color: #ffffff;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  font-weight: 400;
  transition: none;
  opacity: 0;
}

#arrange-items2 li .actions-center {
  left: 5%;
  width: 90%;
  box-sizing: border-box;
  -webkit-transform: none;
  transform: none;
}

.csmm-layout-builder li .actions-center a {
  transition: none;
}

.actions-center .module-name {
  padding: 0 10px 0 0;
  border-right: thin solid #fff;
}
#arrange-items2 .actions-center .module-name {
  border-right: none;
}

.csmm-layout-builder li:hover .actions-center {
  display: inline-block;
  opacity: 1;
}

#arrange-items2 li:hover .actions-center a {
  display: none;
}
#arrange-items2 li:hover .actions-center a.add-module {
  display: inline;
}
#arrange-items li:hover .actions-center a.add-module {
  display: none;
}
#_arrange-items2 li:hover .actions-center .module-name {
  border: none;
  padding: 0;
}

.csmm-layout-builder li .actions-center .dashicons {
  padding: 0;
  margin: 0;
}

.csmm-layout-builder li .actions-center a {
  color: #fefefe;
  padding: 0 0 0 10px;
  margin: 0;
}

.csmm-layout-builder li .actions-center a:hover {
  color: #ddd;
}

.csmm-layout-builder li.ui-sortable-helper {
  border: 1px dashed #ff0000;
  background-color: #ffffffb1;
}
.csmm-layout-builder li.ui-sortable-helper .actions-center{
  display: none;
}

li.module-placeholder, #arrange-items li.module-placeholder {
  border: 1px dashed #ff0000;
  height: 80px;
  width: 100%;
  background: #ff000033;
  display: inline-block;
}

/* Forms */

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
label {
  display: block;
  margin-bottom: 5px;
}
textarea {
  width: 100%;
  resize: none;
}
input[type="search"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
}
input[type="file"] {
  display: block;
}
select[multiple],
select[size] {
  height: auto;
}
select optgroup {
  font-size: inherit;
  font-style: inherit;
  font-family: inherit;
}
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  height: auto;
}
output {
  display: block;
  padding-top: 7px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
}
dl,
dd {
  margin: 0;
  padding: 0;
}
.signals-form-control {
  display: block;
  width: 99%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.signals-form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.signals-form-control:-moz-placeholder {
  color: #999999;
}
.signals-form-control::-moz-placeholder {
  color: #999999;
  opacity: 1;
}
.signals-form-control:-ms-input-placeholder {
  color: #999999;
}
.signals-form-control::-webkit-input-placeholder {
  color: #999999;
}
.signals-form-control[disabled],
.signals-form-control[readonly] {
  cursor: not-allowed;
  background-color: #eeeeee;
}
textarea.signals-form-control {
  height: auto;
}
.signals-form-group {
  margin-bottom: 21px;
  padding-bottom: 10px;
  border-bottom: thin solid #0190da9e;
}
.signals-form-group:last-child {
  border: none;
}
.signals-form-group.border-fix {
  border-bottom: none;
}
.signals-double-group {
  margin-bottom: 21px;
  border-bottom: thin solid #0190da9e;
}
.signals-double-group:last-child {
  border: none;
}
.signals-double-group.no-border {
  border-bottom: 0;
  margin-bottom: 14px;
}
.signals-double-group .signals-form-group {
  border-bottom: none;
  float: left;
  width: 48%;
  margin-right: 4%;
  margin-bottom: 0;
}
.signals-double-group .signals-form-group:last-child,
.signals-upload-group .signals-form-group:last-child {
  margin-right: 0;
}
.signals-upload-group .signals-form-group {
  float: left;
  width: 32%;
  margin-right: 2%;
}
.signals-form-radio,
.signals-form-checkbox {
  display: block;
  min-height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
  vertical-align: middle;
}
.signals-form-radio label,
.signals-form-checkbox label {
  display: inline;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}
.signals-form-radio input[type="radio"],
.signals-form-checkbox input[type="checkbox"] {
  float: left;
  margin-left: -20px;
}
.signals-form-radio + .signals-form-radio,
.signals-form-checkbox + .signals-form-checkbox {
  margin-top: -5px;
}
input[type="radio"][disabled],
input[type="checkbox"][disabled],
.signals-form-radio[disabled],
.signals-form-checkbox[disabled] {
  cursor: not-allowed;
}
.signals-form-input-sm {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
select.signals-form-input-sm {
  height: 30px;
  line-height: 30px;
}
textarea.signals-form-input-sm {
  height: auto;
}
.signals-form-input-lg {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
select.signals-form-input-lg {
  height: 46px;
  line-height: 46px;
}
textarea.signals-form-input-lg {
  height: auto;
}
.signals-form-help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373;
}

/* Alerts & Buttons */

.signals-alert .notice-dismiss {
  top: 6px;
}

.signals-alert {
  color: #ce8f22;
  background-color: #fffcee;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  border-radius: 3px 3px 3px 3px;
  border: 1px solid #F0DBB4;
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
  display: block;
  max-width: 1360px;
  box-sizing: border-box;
  padding: 15px;
  margin: 0px 0 20px 0;
  position: relative;
}
.signals-alert-success {
  color: #438a85;
  background-color: #f3faf8;
  border-color: #bfd1cf;
}
.signals-alert-info {
  color: #246a8e;
  background-color: #ebf6fb;
  border-color: #bfd4de;
}
.signals-alert-warning {
  background-color: #fcf8e3;
  border-color: #8a6d3b;
  color: #8a6d3b;
}
.signals-alert-danger {
  color: #e76e70;
  background-color: #fff6f4;
  border-color: #f8cdcd;
}
.signals-btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #ffffff;
  background-color: #0090d9;
  -webkit-border-radius: 3px;
  background-image: none !important;
  border: none;
  text-shadow: none;
  text-decoration: none;
  box-shadow: none;
  transition: all 0.12s linear 0s !important;
}
.signals-btn:hover,
.signals-btn:focus,
.signals-btn:active {
  background-color: #0090d9;
  color: #ffffff;
  opacity: .8;
}

.signals-btn-red {
  background-color: #fe2929;
}
.signals-btn-red:hover,
.signals-btn-red:focus,
.signals-btn-red:active {
  background-color: #f35958;
}

.signals-btn-secondary {
  color: #555;
  background-color: #f7f7f7;
  border: thin solid #ccc;
}
.signals-btn-secondary:hover,
.signals-btn-secondary:focus,
.signals-btn-secondary:active {
  background-color: #f7f7f7;
  color: #555;
  opacity: .8;
  border: thin solid #bbb;
}

/* Overrides extra padding on button elements in Firefox */

.signals-btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}
#signals_csmm_html_editor,
#signals_csmm_css_editor {
  width: 100%;
  height: 300px;
}

/* Upload process for the panel */

.signals-upload-element {
    border: 2px dashed #eeeeee;
    margin-top: 20px;
    padding: 14px 0;
    text-align: center;
}
.signals-upload-element span.signals-preview-area {
    display: block;
    font-size: 12px;
    color: #898989;
    margin: 10px;
}
.signals-upload-element span.signals-preview-area img {
    display: inline-block;
    max-width: 100%;
    max-height: 300px;
}
#signals-remove-image,
#signals-remove-image:hover,
#signals-remove-image:focus {
    margin-left: 5px;
    line-height: 26px;
    color: red;
}

.home-box {
  background-color: #f1f1f1;
  padding: 15px 10px;
  display: inline-block;
  position: relative;
  vertical-align: top;
}
.home-box span {
  font-weight: 600;
  display: block;
  font-size: 15px;
  border-left: 2px solid #fe2929;
  margin: 0 0 10px -10px;
  padding: 5px 0 5px 10px;
}
.home-box p {
  margin: 0;
  text-align: justify;
  padding: 0;
}

.video-container {
  position:relative;
  padding-bottom:56.25%;
  height:0;
  overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

option[value="-1"] {
  color: #fe2929;
}

/* Switches */

.switchery {
  background-color: #ffffff;
  border: 1px solid #dfdfdf;
  border-radius: 20px;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  position: relative;
  vertical-align: middle;
  width: 40px;
}
.switchery > small {
  background: #ffffff;
  border-radius: 100%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  height: 20px;
  position: absolute;
  top: 0;
  width: 20px;
}

/* Hidden */

@media (max-width: 767px) {
  .signals-hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .signals-hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .signals-hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .signals-hidden-lg {
    display: none !important;
  }
}

/* Responsive */

@media (max-width: 767px) {
  .signals-float-left,
  .signals-float-right {
    float: none;
    width: 100%;
    margin: 0;
  }
  .signals-float-left {
    margin-bottom: 30px;
  }
  .signals-cnt-fix {
    margin-left: -10px !important;
  }
  .signals-main-menu {
    display: none;
  }
  .signals-mobile-menu {
    display: block;
  }
  .signals-double-group .signals-form-group {
    float: none;
    width: 100%;
    margin-right: 0;
    margin-bottom: 21px;
    border-bottom: 1px solid #f1f1f1;
  }
  .signals-double-group .signals-form-group:last-child {
    margin-bottom: 0;
    border-bottom: none;
  }
  .signals-upload-group .signals-form-group {
    float: none;
    width: 100%;
    margin-right: 0;
  }
}

#rating-notice {
  display: block;
  max-width: 1360px;
  box-sizing: border-box;
  padding: 15px;
  margin: 0px 0 20px 0;
  color: #fff;
  background-color: rgba(243, 89, 88, 0.81);
  position: relative;
}

#upsell-notice {
  display: block;
  max-width: 1360px;
  box-sizing: border-box;
  padding: 15px;
  margin: 0px 0 20px 0;
  color: #fff;
  background-color: rgba(236, 65, 77, 1);
  position: relative;
}

#upsell-notice .button-flat:active, #upsell-notice .button-flat:hover {
  color: black;
}

#upsell-notice b {
  font-weight: bold;
  border: thin solid white;
  padding: 3px;
}

#upsell-notice p {
  font-size: 16px;
}

#collect_emails {
  display: block;
  width: 600px;
  padding: 15px;
  margin: 0px 20px 30px 0;
  color: #fff;
  background-color: rgba(243, 89, 88, 0.81);
  position: relative;
}

#collect_emails #mm_subscribe_cancel {
  position: absolute;
  right: 5px;
  top: 5px;
  text-decoration: none;
}

#collect_emails p {
  margin: 5px 0;
}

#collect_emails b {
  font-weight: bolder;
}

#collect_emails input {
  border: none;
  outline: none;
  box-shadow: none;
  margin-right: 10px;
}

#collect_emails p a {
  color: #fff;
}

#collect_emails p .button {
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
  border: none;
  font-weight: 600;
}

input.color, input.jscolor {
  width: 100px;
}

.signals-admin-form .button.button-flat {
  box-shadow: none;
  vertical-align: baseline;
  font-weight: bold;
  background-color: #fff;
  border: thin solid #fff;
  color: rgba(243, 89, 88, 0.81);
}

.corner-ribbon {
  width: 120px;
  position: absolute;
  text-align: center;
  line-height: 18px;
  letter-spacing: 1px;
  overflow: hidden;
  padding: 6px;
  background: #fff;
  color: black;
  top: 3px;
  right: -43px;
  left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(46deg);
  box-shadow: none;
}

.signals-admin-form .button.button-flat:hover {
  background-color: transparent;
  border: thin solid #fff;
  color: #fff;
}

.mm-seo-progress{
  display: block;
  box-sizing: border-box;
  width: 99%;
  height: 8px;
  margin-top: 5px;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #DDD;
}


.mm-seo-progress-warning .mm-seo-progress-bar{
  background: #ffb200;
  width:40px;
  max-width: 100%;
  height: 100%;
}
.mm-seo-progress-good .mm-seo-progress-bar{
  background: #64bd63;
  width:40px;
  max-width: 100%;
  height: 100%;
}

#mm_rate_cancel {
  color: #fff;
  padding-left: 25px;
  font-size: small;
  text-decoration: none;
}

#mm_rate_cancel:hover {
  text-decoration: underline;
}

#rating-notice b {
  font-weight: bold;
}

.signals-strong sup {
  padding: 0 0 0 5px;
  color: #fe2929;
  margin: -5px 0 0 0;
  display: inline-block;
}

#features-table {
  width: 100%;
  border-spacing: 20px;
  margin-bottom: -20px;
}

.below-pricing {
  text-align: center;
  margin: 20px 20px;
  background-color: #f1f1f1;
  padding: 15px 10px;
}

/* pricing */

#pricing-table {
  width: 100%;
}

#pricing-table, #pricing-table tr, #pricing-table td, #pricing-table h3 {
  margin: 0;
  padding: 0;
  border: 0;
  border-spacing: 0;
  border-collapse: collapse;
}
#pricing-table tr:first-child td {
  background-color: #EC414D;
  padding: 10px;
  text-align: center;
  width: 33%;
  position: relative;
  overflow: hidden;
}
#pricing-table tr:first-child td span {
  color: white;
  padding: 10px 0 0 0;
  display: inline-block;
}
#pricing-table tr:last-child td {
  border-top: 2px solid #EC414D;
  border-bottom: none;
}
#pricing-table h3 {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  line-height: 105%;
}
#pricing-table td {
  padding: 12px 15px;
  border-bottom: solid thin #EC414D;
  text-align: center;
  background-color: #f1f1f1
}
#pricing-table tr td:first-child {
  border-right: 30px solid #fff;
}
#pricing-table tr td:last-child {
  border-left: 30px solid #fff;
}
#pricing-table .dashicons {
  color: #EC414D;
}
#pricing-table .dashicons.dashicons-no {
  color: #000;
}
#pricing-table .hover {
  background-color: #eb414d0d;
  font-weight: 700;
}
#pricing-table .promo-button {
  color: #fff;
  background: #EC414D;
  padding: 10px 5px;
  margin: 0px 0 10px 0;
  text-align: center;
  display: block;
  text-decoration: none;
  font-weight: 900;
  font-size: 22px;
  line-height: 120%;
}
#pricing-table .promo-button del {
  color: #333;
}
#pricing-table .promo-button:hover {
  background-color: #f35958;
}
#pricing-table .instant-download {
  text-align: center;
  display: inline-block;
  font-style: italic;
  margin: 0 -5px 0 -5px;
  font-weight: 400;
}
#pricing-table .promo-button small {
    font-size: x-small;
    line-height: 0px;
}

hr {
  margin: 30px 0;
  background-color: #EC414D;
  height: 3px;
}

.footer-buttons-left {
    margin: 0;
    padding: 0 20px 0 10px;
    display: inline-block;
}

.footer-buttons-right {
    margin: 0;
    padding: 5px 10px 0 10px;
    display: inline-block;
    right: 10px;
    left: auto;
    position: fixed;
    color: #666;
    font-style: italic;
}

.csmm-image-picker {
  position: fixed;
  width: 96%;
  height: 96%;
  display: block;
  top: 2%;
  left: 2%;
  background: #FFF;
  z-index: 99999;
  box-shadow: 0px 0px 0px 1000px #0000004d;
  padding:6px;
}

.csmm-image-picker-image{
  border:3px solid transparent;
  float:left;
  margin: 4px;
  line-height: 0px;
}

.csmm-image-picker-image_ad {
  border:3px solid transparent;
  float:left;
  margin: 4px;
  line-height: 0px;
}

.csmm-image-picker-image:hover,
.csmm-image-picker-image_ad:hover{
  border:3px solid #0090d9;
  float:left;
  margin: 4px;
  cursor:pointer;
}

.csmm-image-picker-image img{
  height:160px;
}

.csmm-image-picker-content {
  top: 64px;
  left: 0;
  bottom: 0px;
  width: 100%;
  margin: 0;
  overflow: auto;
  background: #fff;
  border-top: 1px solid #ddd;
  position: absolute;
  padding: 12px;
  box-sizing: border-box;
}

.csmm-image-picker-title{
  position: absolute;
  padding: 0 20px;
  left: 0px;
  right: 0;
  z-index: 200;
}

/* background image filters */
.aden{position:relative;-webkit-filter:hue-rotate(-20deg) contrast(.9) saturate(.85) brightness(1.2);filter:hue-rotate(-20deg) contrast(.9) saturate(.85) brightness(1.2)}.aden:after,.aden:before{content:'';display:block;height:100%;width:100%;top:0;left:0;position:absolute;pointer-events:none}.aden img{width:100%;z-index:1}.aden:before{z-index:2}.aden:after{z-index:3}.aden::after{background:-webkit-linear-gradient(left,rgba(66,10,14,.2),transparent);background:linear-gradient(to right,rgba(66,10,14,.2),transparent);mix-blend-mode:darken}.gingham::after,.perpetua::after,.reyes::after{mix-blend-mode:soft-light}.inkwell{position:relative;-webkit-filter:sepia(.3) contrast(1.1) brightness(1.1) grayscale(1);filter:sepia(.3) contrast(1.1) brightness(1.1) grayscale(1)}.inkwell:after,.inkwell:before{content:'';display:block;height:100%;width:100%;top:0;left:0;position:absolute;pointer-events:none}.inkwell img{width:100%;z-index:1}.inkwell:before{z-index:2}.inkwell:after{z-index:3}.perpetua{position:relative}.perpetua:after,.perpetua:before{content:'';display:block;height:100%;width:100%;top:0;left:0;position:absolute;pointer-events:none}.perpetua img{width:100%;z-index:1}.perpetua:before{z-index:2}.perpetua:after{z-index:3}.perpetua::after{background:-webkit-linear-gradient(top,#005b9a,#e6c13d);background:linear-gradient(to bottom,#005b9a,#e6c13d);opacity:.5}.reyes{position:relative;-webkit-filter:sepia(.22) brightness(1.1) contrast(.85) saturate(.75);filter:sepia(.22) brightness(1.1) contrast(.85) saturate(.75)}.reyes:after,.reyes:before{content:'';display:block;height:100%;width:100%;top:0;left:0;position:absolute;pointer-events:none}.reyes img{width:100%;z-index:1}.reyes:before{z-index:2}.reyes:after{z-index:3}.reyes::after{background:#efcdad;opacity:.5}.gingham{position:relative;-webkit-filter:brightness(1.05) hue-rotate(-10deg);filter:brightness(1.05) hue-rotate(-10deg)}.gingham:after,.gingham:before{content:'';display:block;height:100%;width:100%;top:0;left:0;position:absolute;pointer-events:none}.gingham img{width:100%;z-index:1}.gingham:before{z-index:2}.gingham:after{z-index:3}.gingham::after{background:#e6e6fa}.toaster{position:relative;-webkit-filter:contrast(1.5) brightness(.9);filter:contrast(1.5) brightness(.9)}.toaster:after,.toaster:before{content:'';display:block;height:100%;width:100%;top:0;left:0;position:absolute;pointer-events:none}.toaster img{width:100%;z-index:1}.toaster:before{z-index:2}.toaster:after{z-index:3}.toaster::after{background:-webkit-radial-gradient(circle,#804e0f,#3b003b);background:radial-gradient(circle,#804e0f,#3b003b);mix-blend-mode:screen}.walden{position:relative;-webkit-filter:brightness(1.1) hue-rotate(-10deg) sepia(.3) saturate(1.6);filter:brightness(1.1) hue-rotate(-10deg) sepia(.3) saturate(1.6)}.walden:after,.walden:before{content:'';display:block;height:100%;width:100%;top:0;left:0;position:absolute;pointer-events:none}.walden img{width:100%;z-index:1}.walden:before{z-index:2}.walden:after{z-index:3}.walden::after{background:#04c;mix-blend-mode:screen;opacity:.3}.hudson{position:relative;-webkit-filter:brightness(1.2) contrast(.9) saturate(1.1);filter:brightness(1.2) contrast(.9) saturate(1.1)}.hudson:after,.hudson:before{content:'';display:block;height:100%;width:100%;top:0;left:0;position:absolute;pointer-events:none}.hudson img{width:100%;z-index:1}.hudson:before{z-index:2}.hudson:after{z-index:3}.hudson::after{background:-webkit-radial-gradient(circle,#a6b1ff 50%,#342134);background:radial-gradient(circle,#a6b1ff 50%,#342134);mix-blend-mode:multiply;opacity:.5}.earlybird{position:relative;-webkit-filter:contrast(.9) sepia(.2);filter:contrast(.9) sepia(.2)}.earlybird:after,.earlybird:before{content:'';display:block;height:100%;width:100%;top:0;left:0;position:absolute;pointer-events:none}.earlybird img{width:100%;z-index:1}.earlybird:before{z-index:2}.earlybird:after{z-index:3}.earlybird::after{background:-webkit-radial-gradient(circle,#d0ba8e 20%,#360309 85%,#1d0210 100%);background:radial-gradient(circle,#d0ba8e 20%,#360309 85%,#1d0210 100%);mix-blend-mode:overlay}.mayfair{position:relative;-webkit-filter:contrast(1.1) saturate(1.1);filter:contrast(1.1) saturate(1.1)}.mayfair:after,.mayfair:before{content:'';display:block;height:100%;width:100%;top:0;left:0;position:absolute;pointer-events:none}.mayfair img{width:100%;z-index:1}.mayfair:before{z-index:2}.mayfair:after{z-index:3}.mayfair::after{background:-webkit-radial-gradient(40% 40%,circle,rgba(255,255,255,.8),rgba(255,200,200,.6),#111 60%);background:radial-gradient(circle at 40% 40%,rgba(255,255,255,.8),rgba(255,200,200,.6),#111 60%);mix-blend-mode:overlay;opacity:.4}.lofi{position:relative;-webkit-filter:saturate(1.1) contrast(1.5);filter:saturate(1.1) contrast(1.5)}.lofi:after,.lofi:before{content:'';display:block;height:100%;width:100%;top:0;left:0;position:absolute;pointer-events:none}.lofi img{width:100%;z-index:1}.lofi:before{z-index:2}.lofi:after{z-index:3}.lofi::after{background:-webkit-radial-gradient(circle,transparent 70%,#222 150%);background:radial-gradient(circle,transparent 70%,#222 150%);mix-blend-mode:multiply}._1977{position:relative;-webkit-filter:contrast(1.1) brightness(1.1) saturate(1.3);filter:contrast(1.1) brightness(1.1) saturate(1.3)}._1977:after,._1977:before{content:'';display:block;height:100%;width:100%;top:0;left:0;position:absolute;pointer-events:none}._1977 img{width:100%;z-index:1}._1977:before{z-index:2}._1977:after{z-index:3;background:rgba(243,106,188,.3);mix-blend-mode:screen}.brooklyn{position:relative;-webkit-filter:contrast(.9) brightness(1.1);filter:contrast(.9) brightness(1.1)}.brooklyn:after,.brooklyn:before{content:'';display:block;height:100%;width:100%;top:0;left:0;position:absolute;pointer-events:none}.brooklyn img{width:100%;z-index:1}.brooklyn:before{z-index:2}.brooklyn:after{z-index:3}.brooklyn::after{background:-webkit-radial-gradient(circle,rgba(168,223,193,.4) 70%,#c4b7c8);background:radial-gradient(circle,rgba(168,223,193,.4) 70%,#c4b7c8);mix-blend-mode:overlay}.xpro2{position:relative;-webkit-filter:sepia(.3);filter:sepia(.3)}.xpro2:after,.xpro2:before{content:'';display:block;height:100%;width:100%;top:0;left:0;position:absolute;pointer-events:none}.xpro2 img{width:100%;z-index:1}.xpro2:before{z-index:2}.xpro2:after{z-index:3}.xpro2::after{background:-webkit-radial-gradient(circle,#e6e7e0 40%,rgba(43,42,161,.6) 110%);background:radial-gradient(circle,#e6e7e0 40%,rgba(43,42,161,.6) 110%);mix-blend-mode:color-burn}.nashville{position:relative;-webkit-filter:sepia(.2) contrast(1.2) brightness(1.05) saturate(1.2);filter:sepia(.2) contrast(1.2) brightness(1.05) saturate(1.2)}.nashville:after,.nashville:before{content:'';display:block;height:100%;width:100%;top:0;left:0;position:absolute;pointer-events:none}.nashville img{width:100%;z-index:1}.nashville:before{z-index:2}.nashville:after{z-index:3}.nashville::after{background:rgba(0,70,150,.4);mix-blend-mode:lighten}.nashville::before{background:rgba(247,176,153,.56);mix-blend-mode:darken}.lark{position:relative;-webkit-filter:contrast(.9);filter:contrast(.9)}.lark:after,.lark:before{content:'';display:block;height:100%;width:100%;top:0;left:0;position:absolute;pointer-events:none}.lark img{width:100%;z-index:1}.lark:before{z-index:2}.lark:after{z-index:3}.lark::after{background:rgba(242,242,242,.8);mix-blend-mode:darken}.lark::before{background:#22253f;mix-blend-mode:color-dodge}.moon{position:relative;-webkit-filter:grayscale(1) contrast(1.1) brightness(1.1);filter:grayscale(1) contrast(1.1) brightness(1.1)}.moon:after,.moon:before{content:'';display:block;height:100%;width:100%;top:0;left:0;position:absolute;pointer-events:none}.moon img{width:100%;z-index:1}.moon:before{z-index:2}.moon:after{z-index:3}.moon::before{background:#a0a0a0;mix-blend-mode:soft-light}.moon::after{background:#383838;mix-blend-mode:lighten}.clarendon{position:relative;-webkit-filter:contrast(1.2) saturate(1.35);filter:contrast(1.2) saturate(1.35)}.clarendon:after,.clarendon:before{content:'';display:block;height:100%;width:100%;top:0;left:0;position:absolute;pointer-events:none}.clarendon img{width:100%;z-index:1}.clarendon:before{z-index:2;background:rgba(127,187,227,.2);mix-blend-mode:overlay}.clarendon:after{z-index:3}.willow{position:relative;-webkit-filter:grayscale(.5) contrast(.95) brightness(.9);filter:grayscale(.5) contrast(.95) brightness(.9)}.willow:after,.willow:before{content:'';display:block;height:100%;width:100%;top:0;left:0;position:absolute;pointer-events:none}.willow img{width:100%;z-index:1}.willow:before{z-index:2}.willow:after{z-index:3}.willow::before{background-color:radial-gradient(40%,circle,#d4a9af 55%,#000 150%);mix-blend-mode:overlay}.willow::after{background-color:#d8cdcb;mix-blend-mode:color}.rise{position:relative;-webkit-filter:brightness(1.05) sepia(.2) contrast(.9) saturate(.9);filter:brightness(1.05) sepia(.2) contrast(.9) saturate(.9)}.rise:after,.rise:before{content:'';display:block;height:100%;width:100%;top:0;left:0;position:absolute;pointer-events:none}.rise img{width:100%;z-index:1}.rise:before{z-index:2}.rise:after{z-index:3}.rise::after{background:-webkit-radial-gradient(circle,rgba(232,197,152,.8),transparent 90%);background:radial-gradient(circle,rgba(232,197,152,.8),transparent 90%);mix-blend-mode:overlay;opacity:.6}.rise::before{background:-webkit-radial-gradient(circle,rgba(236,205,169,.15) 55%,rgba(50,30,7,.4));background:radial-gradient(circle,rgba(236,205,169,.15) 55%,rgba(50,30,7,.4));mix-blend-mode:multiply}.slumber{position:relative;-webkit-filter:saturate(.66) brightness(1.05);filter:saturate(.66) brightness(1.05)}.slumber:after,.slumber:before{content:'';display:block;height:100%;width:100%;top:0;left:0;position:absolute;pointer-events:none}.slumber img{width:100%;z-index:1}.slumber:before{z-index:2}.slumber:after{z-index:3}.slumber::after{background:rgba(125,105,24,.5);mix-blend-mode:soft-light}.slumber::before{background:rgba(69,41,12,.4);mix-blend-mode:lighten}.brannan{position:relative;-webkit-filter:sepia(.5) contrast(1.4);filter:sepia(.5) contrast(1.4)}.brannan:after,.brannan:before{content:'';display:block;height:100%;width:100%;top:0;left:0;position:absolute;pointer-events:none}.brannan img{width:100%;z-index:1}.brannan:before{z-index:2}.brannan:after{z-index:3}.brannan::after{background-color:rgba(161,44,199,.31);mix-blend-mode:lighten}.valencia{position:relative;-webkit-filter:contrast(1.08) brightness(1.08) sepia(.08);filter:contrast(1.08) brightness(1.08) sepia(.08)}.valencia:after,.valencia:before{content:'';display:block;height:100%;width:100%;top:0;left:0;position:absolute;pointer-events:none}.valencia img{width:100%;z-index:1}.valencia:before{z-index:2}.valencia:after{z-index:3}.valencia::after{background:#3a0339;mix-blend-mode:exclusion;opacity:.5}.kelvin{position:relative}.kelvin:after,.kelvin:before{content:'';display:block;height:100%;width:100%;top:0;left:0;position:absolute;pointer-events:none}.kelvin img{width:100%;z-index:1}.kelvin:before{z-index:2}.kelvin:after{z-index:3}.kelvin::after{background:#b77d21;mix-blend-mode:overlay}.kelvin::before{background:#382c34;mix-blend-mode:color-dodge}.maven{position:relative;-webkit-filter:sepia(.25) brightness(.95) contrast(.95) saturate(1.5);filter:sepia(.25) brightness(.95) contrast(.95) saturate(1.5)}.maven:after,.maven:before{content:'';display:block;height:100%;width:100%;top:0;left:0;position:absolute;pointer-events:none}.maven img{width:100%;z-index:1}.maven:before{z-index:2}.maven:after{z-index:3;background:rgba(3,230,26,.2);mix-blend-mode:hue}.stinson{position:relative;-webkit-filter:contrast(.75) saturate(.85) brightness(1.15);filter:contrast(.75) saturate(.85) brightness(1.15)}.stinson:after,.stinson:before{content:'';display:block;height:100%;width:100%;top:0;left:0;position:absolute;pointer-events:none}.stinson img{width:100%;z-index:1}.stinson:before{z-index:2}.stinson:after{z-index:3}.stinson::before{background:rgba(240,149,128,.2);mix-blend-mode:soft-light}.blackwhite { -webkit-filter: grayscale(100%); filter: grayscale(100%); }

/* mailoptin upsell dialog */
.csmm-mailoptin-upsell-dialog .ui-dialog-titlebar {
  background: #2980b9;
  text-align: center;
  height: 55px;
}
.csmm-mailoptin-upsell-dialog .ui-dialog-titlebar img {
  height: 32px;
  display: inline-block;
  margin: 11px 0 0 0;
}
.csmm-mailoptin-upsell-dialog .ui-dialog-titlebar-close {
  color: #fff;
  height: 55px;
}
.csmm-mailoptin-upsell-dialog .ui-dialog-titlebar-close:hover {
  color: #333;
}
.csmm-mailoptin-upsell-dialog .ui-dialog-content {
  padding: 0;
}
.csmm-mailoptin-upsell-dialog .ui-tabs-nav {
  text-align: center;
}
.csmm-mailoptin-upsell-dialog .ui-tabs .upsell-tab {
  padding: 20px 15px;
  text-align: center;
}
.csmm-mailoptin-upsell-dialog a {
  color: #333;
}
.csmm-mailoptin-upsell-dialog a:hover {
  color: #000;
}

.upsell-header {
  margin: 0 0 20px 0;
  background: #2980b9;
  color: #fefefe;
  padding: 10px;
  box-sizing: content-box;
  border: 1px solid #111;
}
.upsell-header b {
  font-weight: bolder;
}
.upsell-footer {
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  margin: 20px -15px -20px -15px;
  background-color: rgba(128, 128, 128, 0.03);
}
#tab-upsell-features .upsell-footer {
  margin-top: 0;
}
option.mailoptin-promo {
  color: #2980b9;
}

.mailoptin-pro-feature {
  display: inline-block;
  width: 32%;
  background: rgba(128, 128, 128, 0.03);
  margin: 0 5px 20px 5px;
  padding: 10px;
  box-sizing: border-box;
  vertical-align: top;
  position: relative;
  border-top: 1px solid #2980b9;
}

.normal-list {
  list-style-type: circle;
  list-style-position: outside;
  margin-left: 14px;
}
/* upsell dialog */

#support-hero {
  text-align: center;
  margin: 40px;
  padding: 0 70px;
}

#support-hero p {
  font-size: 25px;
  line-height: 1.5;
  font-weight: 400;
}

#support-hero b {
  font-weight: 800;
}

#support-hero .button {
  color: #fff;
  background: #EC414D;
  padding: 15px 10px;
  margin: 0px 0 10px 0;
  text-align: center;
  display: inline;
  text-decoration: none;
  font-weight: 900;
  font-size: 22px;
  line-height: 120%;
  border: none;
}

.settings_page_maintenance_mode_options .put-dismiss-notice {
  display: none;
}

.csmm-list {
  list-style-type: circle;
  list-style-position: outside;
  margin-left: 14px;
  line-height: 150%;
}
