.wdform_map img {
  max-width: none !important;
}

.wdform-page-and-images {
  box-sizing: border-box;
}

.wdform_row .wdform-field .wdform_map {
  width: inherit !important;
}

.radio-div,
.radio-div *,
.checkbox-div,
.checkbox-div *,
.wdform-page-button {
  -moz-box-sizing: content-box !important;
  -webkit-box-sizing: content-box !important;
  box-sizing: content-box !important;
}

.page_percentage_deactive,
.page_percentage_deactive * {
  word-wrap: normal;
}

.wdform_percentage_text,
.wdform_percentage_arrow {
  vertical-align: top !important;
}

div[type="type_captcha"] .wdform-element-section * {
  vertical-align: middle;
}

.recaptcha_input_area input {
  height: initial !important;
}
.cfm-hide {
  display: none;
}