/**
General style
 */
#ywpar_reset_points,
#yit_ywpar_options_import_csv_points,
#yit_ywpar_options_file_import_csv-button_reset{
    display: none;
}
/**
Setting Points Page
 */
#yith_woocommerce_points_and_rewards_points .yith-plugin-fw-buttons-field-wrapper{
    max-width: 300px;
}

#ywpar_options_import_form-container label{
    display: block;
    font-weight: 600;
    margin: 10px 0px;
    clear: both;
}
#ywpar_options_import_form-container .inner-option{
    margin-bottom: 10px;
}

#yit_ywpar_options_fix_expiration_points-container span.response{
    padding-top: 10px;
    display: block;
}

div#yit_ywpar_options_fix_expiration_points-container .option {
    width: 130px;
}
#yit_ywpar_options_fix_expiration_points-container .blockUI.blockOverlay::before{
    left:7% !important;
}

div#yit_ywpar_options_extra_points-container {
    margin-left: -220px;
    position: relative;
}


/*
Customer history point view
 */
#yith_woocommerce_points_and_rewards_bulk #post-body.columns-2 {
       margin-right: 0;
   }
form.ywpar_update_point_form, .ywpar_user_info{
    background-color:#fff;
    padding: 20px;
    margin-bottom: 0;
    margin-right: 10px;
    float: left;
    border: 1px solid #016087;
    width: 35%;
}
#yith_woocommerce_points_and_rewards_bulk .ywpar_user_info {
    position: relative;
    padding: 0;
}

.ywpar_update_point, .ywpar_user_info {
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
    background-color: transparent;
    border-radius: 10px !important;
    border: none;
}

#yith_woocommerce_points_and_rewards_bulk .ywpar_user_info > div {
    float: left;
}

#yith_woocommerce_points_and_rewards_bulk .ywpar_user_info #ywpar_user_info {
    width: 60%;
}

.ywpar_user_info #ywpar_points_collected {
    width: 40%;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #deebf1;
    display: table;
    height: 100%;
    border-radius: 0 10px 10px 0;
}

.ywpar_user_info #ywpar_points_collected > div {
    display: table-cell;
    vertical-align: middle;
}

#yith_woocommerce_points_and_rewards_bulk #ywpar_user_info {
    padding: 20px;
}
#yith_woocommerce_points_and_rewards_bulk #ywpar_points_collected p {
    color: #0071a1;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

#yith_woocommerce_points_and_rewards_bulk #ywpar_points_collected p.ywpar_points {
    font-size:50px;
}
.ywpar_update_point {
    width: 65%;
}

.ywpar_update_point > form {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    border: none;
    border-radius: 10px;
}
#poststuff form.ywpar_update_point_form h2, #poststuff .ywpar_user_info h2{
    padding-left: 0;
    padding-top: 0;
    border: none !important;
    text-transform: initial;
}

.ywpar_update_point_form .ywpar-input-wrapper p > input, .ywpar_update_point_form .ywpar-input-wrapper p > select {
    margin-top: 5px !important;
}
.ywpar_update_point_form .ywpar-input-wrapper p:last-child {
    padding-top: 22px;
}
.history-table .tablenav.top {
    display: none;
}
#yith_woocommerce_points_and_rewards_bulk .tablenav-pages {
    float: left;
}

#yith_woocommerce_points_and_rewards_bulk .tablenav {
    margin-top: 0;
}
.ywpar_user_info_wrapper, .history-table{
    display: flex;
    /* clear: both; */
    margin-top: 10px;
}

#yith_woocommerce_points_and_rewards_bulk .history-table .tablenav.bottom {
    display: block;
  }

form.ywpar_update_point_form .ywpar-input-wrapper * {
    margin: 0 10px 0 0 !important;
}

.ywpar-input-wrapper .ywpar_update_points.button-primary {
    padding: 6px 10px;
}

select#user_points_action {
    max-width:100px;
}

.ywpar-input-wrapper .description {
    height: 38px !important;
}

.conversion-options {
    margin-bottom: 4px;
}

.conversion-options input {
    width: 70px !important;
    display:  inline-block;
    margin-bottom: 10px;
}

.conversion-role {
    display: inline-block;
    vertical-align: middle;
}

.conversion-currencies p, .conversion-role p {
    padding-right: 20px;
    margin: 0 10px;
    display:flex;
    align-items:center;
}

.conversion-role p {
	padding-right: 0;
}
.conversion-currencies p span, .conversion-role p span{
    margin: 0 5px;
    width: auto;
}

.conversion-currencies p span:last-child{
    /* width:120px!important; */
}

.yith-plugin-fw .conversion-currencies input[type=number],
.yith-plugin-fw .extrapoint-options input[type=number]{
    max-width: 70px!important;
}
.yith-plugin-fw .extrapoint-options span{
    padding: 0 10px;
}
.yith-plugin-fw .extrapoint-options[data-index="1"] span{

    height: 38px;
    line-height:38px
}
.yith-plugin-fw .extrapoint-options .option{
    margin-bottom: 10px;
}
.woocommerce table.form-table .conversion-role select {
    max-width: 150px;
}

#plugin-fw-wc .yit_options.role-conversion-options {
    max-width: 650px;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

#plugin-fw-wc .role-conversion-options-container {
	border-bottom: 1px solid #eee;
	margin-bottom: 10px;
}

.ywpar-panel-subtitle h4 {
    padding-left: 10px;
    border-bottom: 1px solid #eee;
    padding-bottom: 9px;
}

/**
Remove table head
 */
.options-extra-points th,
.options-import-form th{
    width: 0;
}


/**
Add and Remove Items
 */
.ywpar-remove-row{
    display: inline-block;
    margin: 2px;
    cursor: pointer;
    opacity: 0.5;
	font-size: 18px;
}
.ywpar-remove-row.hide-remove{
    display: none;
}
.ywpar-add-row,.ywpar-add-same-row {
    display: block;
    margin: 10px 0;
    cursor: pointer;
    color: #2a8db0;
}

#yith_woocommerce_points_and_rewards_points-standard .role-conversion-options .conversion-role {
    display: flex;
    align-items: baseline
}

#yith_woocommerce_points_and_rewards_points-standard .role-conversion-options .conversion-role span {
    margin-right: 5px;
}

/**
History Table
 */
.history-table .column-id{
    width: 10%;
}
.history-table .column-amount{
    width: 20%;
}
.history-table .fixed .column-date{
    width: 30% !important;
}

form.ywpar_update_point_form input{
    display:inline-block;
    margin-bottom:10px;
    margin-right:10px;
}
form.ywpar_update_point_form input[type=text]{
    /* min-width: 300px; */
    flex: 1;
    margin: 0;
}
form.ywpar_update_point_form .ywpar-input-wrapper {
    display: flex;
}

input.ywpar_update_points.button.button-primary.action {
    float: right;
}
form.ywpar_update_point_form input[type="number"]{
    max-width: 100px;
    text-align: right;
    padding: 0 5px;
}


/* DASHBOARD WIDGET */
.ywpar_points_hit_widget{
    width: 100%;
}
.ywpar_points_hit_widget td.points{
    text-align: center ;
}

div#yith_woocommerce_points_and_rewards_bulk .inner-option {
    padding: 15px;
}

div#yith_woocommerce_points_and_rewards_bulk .inner-option label{
    display: block;
    padding-bottom: 10px;
}
div#yith_woocommerce_points_and_rewards_bulk .ywpar-deps,
div#yith_woocommerce_points_and_rewards_bulk .ywpar-deps_action,
tr.ywpar_apply_points_previous_order {
    display: none  ;
}

.ywpar-bulk-response {
    position: absolute;
    top:45%;
    left: 0;
    right: 0;
    margin: auto;
    width: 200px;
    background-color: white;
    padding: 10px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.4);
    font-size: 120%;
    line-height: 100%;
    z-index: 9999;
}

.ywpar-bulk-trigger{
    width: 500px;
}
.ywpar-bulk-trigger button{
    display:inline-block;

}
.ywpar-bulk-trigger .ywpar-bulk-progress{
    display:inline-block;

}
.ywpar-bulk-trigger .ywpar-bulk-progress{
    display:inline-block;
    margin-left: 10px;
    line-height:20px;
    padding: 5px;
    border: 1px solid #eee;
    width: 200px;
    text-align:center;
}

.ywpar-bulk-trigger .ywpar-bulk-progress div{
    background-color: #eee;
    width: 0;
}

#ywpar_bulk_add_points {
    max-width: 100px;
}


#yith_woocommerce_points_and_rewards_bulk_form .ajax-customers ul.select2-selection__rendered > li > input {
    width: auto !important;
}

.ywpar_ban {
    margin: 10px;
    color: #ab190e;
    background-color: #ffbfba;
    padding: 3px 8px;
    font-size:10px;
text-transform: uppercase;
    font-weight: bold;
    margin-left: 20px;
}

.wp-list-table.yith-plugins_page_yith_woocommerce_points_and_rewards .user_info.column-user_info > div {
    display: inline-block;
}

div#ywpar_apply_points_from_wc_points_rewards-container .option {
    max-width: 500px;
}

.wrap.par-wrap {
    padding: 20px;
    background: #fff;
    margin-top: -2px;
}

.wrap.par-wrap h2, #yith_woocommerce_points_and_rewards_bulk .history-table h2{
    font-size: 15px;
    font-weight: 600;
    border: 0 !important;
    padding-left: 0;
}

.wrap.par-wrap .tablenav{
    display: flex;
    margin: 15px 0;
    align-items: center;
}

a.ywpar_update_points.ywpar_reset_points.button.action.button-secondary,
a.ywpar_update_points.button.action.button-primary {
    float: left;
    margin-right: 2px;
    padding: 2px 8px;

}

a.ywpar_update_points.ywpar_reset_points.button.action.button-secondary {
    background-color: transparent;
    color: #0073aa;
    text-transform: capitalize;
}
.yith-plugin-fw-field-wrapper .yith-plugin-fw-options-extrapoints-field-wrapper .option,
.yith-plugin-fw-field-wrapper.yith-plugin-fw-options-role-percentage-conversion-field-wrapper .option,
.yith-plugin-fw-field-wrapper.yith-plugin-fw-options-percentage-conversion-field-wrapper .option,
.yith-plugin-fw-field-wrapper.yith-plugin-fw-options-role-conversion-field-wrapper .option,
.yith-plugin-fw-field-wrapper.yith-plugin-fw-options-conversion-field-wrapper .option,
.yith-plugin-fw-field-wrapper.yith-plugin-fw-options-conversion-earning-field-wrapper .option{
    display: flex;
    align-items: center;
}
.yith-plugin-fw-field-wrapper.yith-plugin-fw-options-percentage-conversion-field-wrapper .option span,
.yith-plugin-fw-field-wrapper.yith-plugin-fw-options-conversion-field-wrapper .option span,
.yith-plugin-fw-field-wrapper.yith-plugin-fw-options-conversion-earning-field-wrapper .option span {
    margin: 10px;
}

.ywpar-actions{ flex: none;}
#ywpar_apply_points_previous_order_btn{ height: 38px; }
a.ywpar_update_points.ywpar_ban_user.button.button-primary.action {
    background-color: #b50505;
    color: #fff;
}

#yith_woocommerce_points_and_rewards_bulk .options-bulk-form .titledesc{
    display: none;
}

.yith-plugin-ui .subnav-wrap table.form-table { border: none; }

.ywpar-error { border: 1px solid red !important; }
.expire-options input {
    max-width: 100px !important;
}
.expire-options select {
    max-width: 150px !important;
}

input#ywpar_max_points_discount, input#ywpar_minimum_amount_discount_to_redeem, input#ywpar_max_points_product_discount, input#ywpar_minimum_amount_to_redeem,input#ywpar_max_percentual_discount {
    max-width: 100px;
}

.yith-plugin-fw-options-restrictions-text-input-field-wrapper {
    display: flex !important;
    align-items: center;
}

.yith-plugin-fw-options-restrictions-text-input-field-wrapper span {
    margin-left: 10px;
}

.ywpar_import_result {
    position: fixed;
    left: 45%;
    top: 45%;
    width: 10%;
    z-index: 99999;
    background-color: white;
    height: auto;
    padding: 10px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.4);
}

/* options table in Product editing page */
.ywpar-product-options-title {
    margin: 25px 15px 10px;
    font-size: 1em;
}


.panel-wrap.product_data #ywpar_product_otions {
    width: 100%;
    border: none;
    margin: 10px;
}

.wc-metaboxes-wrapper .wc-metabox.woocommerce_variation h3.ywpar-product-options-title{
    margin: 25px 15px 10px 0 !important;
    padding: 0 !important;
}

.panel-wrap.product_data .woocommerce_variation #ywpar_product_otions{
    margin: 0;
    padding: 0;
}

.panel-wrap.product_data .woocommerce_variation #ywpar_product_otions th{
    padding-left: 0;
}


.panel-wrap.product_data #ywpar_product_otions th, .panel-wrap.product_data #ywpar_product_otions td { padding: 10px 5px; }
.panel-wrap.product_data #ywpar_product_otions td { padding-right: 5px; }
.panel-wrap.product_data #ywpar_product_otions th { width: 150px; text-align: left;}
.panel-wrap.product_data #ywpar_product_otions label {
    margin: 0 0 5px 0;
    font-weight: normal;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
}
.panel-wrap.product_data #ywpar_product_otions span.description { margin: 0;padding-right: 10px; }
.panel-wrap.product_data #ywpar_product_otions #_ywpar_point_earned, .panel-wrap.product_data #ywpar_product_otions #_ywpar_max_point_discount, #variable_ywpar_redemption_percentage_discount, #_ywpar_redemption_percentage_discount, #variable_ywpar_point_earned, #variable_ywpar_max_point_discount { max-width: 100px; }
._ywpar_override_points_date_fields input[type=text], .wc-metaboxes-wrapper .variable_ywpar_override_points_date_fields input[type=text] {
    display: inline-block;
    width: 200px;
    margin-right: 10px;
}
.ywpar_type_sign {
    font-size: 15px;
    padding: 8px 10px;
    line-height: 35px;
}

.forminp-custom-radio .ywpar_custom_radios input[type=radio] {
    position: relative;
    left:0;
    width: 20px !important;
    height: 20px;
    min-width: auto;
    margin-right: 5px;
    -webkit-appearance: radio;
    appearance: radio;
    -moz-appearance: radio;
}

.yith-plugin-fw-text-field-wrapper.ywpar-field-with-percentage:after{
    content: '%';
    display: block;
    float: left;
    line-height: 38px;
    margin-left: 10px;
}
/* customer points table */
.wp-list-table.yith-plugins_page_yith_woocommerce_points_and_rewards,
.wp-list-table.yith-plugins_page_yith_woocommerce_points_and_rewards tr td,
.wp-list-table.yith-plugins_page_yith_woocommerce_points_and_rewards tr th {
    border: none;
}
.wp-list-table.yith-plugins_page_yith_woocommerce_points_and_rewards {
    border-collapse:separate;
    border-spacing:0 15px;
}
.wp-list-table.yith-plugins_page_yith_woocommerce_points_and_rewards.striped tbody tr {
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
    background-color: transparent;
}

.wp-list-table.yith-plugins_page_yith_woocommerce_points_and_rewards tbody tr td, .wp-list-table.yith-plugins_page_yith_woocommerce_points_and_rewards tbody tr th{
    padding: 15px 0;
    vertical-align: middle
}
.wp-list-table.yith-plugins_page_yith_woocommerce_points_and_rewards .ywpar_user_name {
    font-weight: bold;
}

.wp-list-table.yith-plugins_page_yith_woocommerce_points_and_rewards thead th {
    font-weight: bold;
}
.wp-list-table.yith-plugins_page_yith_woocommerce_points_and_rewards .check-column {
    padding: 12px 10px;
}
.wp-list-table.yith-plugins_page_yith_woocommerce_points_and_rewards .action.column-action .ywpar_sep {
    border-left: 1px solid #333;
    float: left;
    margin-top: 10px;
    height: 10px;
}

.wp-list-table.yith-plugins_page_yith_woocommerce_points_and_rewards .action.column-action .ywpar_ban_user, .wp-list-table.yith-plugins_page_yith_woocommerce_points_and_rewards .action.column-action .ywpar_unban_user {
    color: red;
    float: left;
    background: transparent;
    text-transform: capitalize;
    padding: 2px 8px;
}

.wp-list-table.yith-plugins_page_yith_woocommerce_points_and_rewards .action.column-action .ywpar_unban_user {
    color: green;
}

#yith_woocommerce_points_and_rewards_bulk .tablenav-pages.one-page {
    float: none;
    display: block;
    clear: left;
    padding-top: 5px;
}

#yith_woocommerce_points_and_rewards_bulk .tablenav.top .tablenav-pages.one-page, .wp-list-table.yith-plugins_page_yith_woocommerce_points_and_rewards tfoot, #yith_woocommerce_points_and_rewards_bulk .tablenav.bottom {
    display: none;
}
.wp-list-table.yith-plugins_page_yith_woocommerce_points_and_rewards .column-action {
    opacity: 0;
}

.wp-list-table.yith-plugins_page_yith_woocommerce_points_and_rewards tbody tr:hover .column-action {
    opacity: 1;
}

.wp-list-table.yith-plugins_page_yith_woocommerce_points_and_rewards td.column-points {
    padding-left: 62px;
}
.ywpar_user_info_wrapper a.ywpar_update_points.ywpar_reset_points.button.action.button-primary {
    padding: 6px 15px;
}

.ywpar_user_info_wrapper a.ywpar_update_points.ywpar_ban_user.button.button-primary.action {
    background-color: transparent;
    color: red;
    text-decoration: underline;
    text-transform: initial;
}

#yith_woocommerce_points_and_rewards_bulk .history-table .wp-list-table.yith-plugins_page_yith_woocommerce_points_and_rewards .column-action {
    opacity: 1;
}

#yith_woocommerce_points_and_rewards_bulk .history-table .column-id { display: none; }

.history-table .wp-list-table.yith-plugins_page_yith_woocommerce_points_and_rewards tbody tr td { padding: 20px 8px; }
#ywpar_user_info .ywpar_unban_user.button.action {
    background: transparent;
    border: none;
    color: green;
    text-decoration: underline;
}

#ywpar_user_info .ywpar_ban_user.button.action, #ywpar_user_info .ywpar_unban_user.button.action {
    font-size: 13px;
}

.ywpar_plus { color: green; }
.ywpar_minus { color:red; }

/* product category admin side */
#ywpar_product_category_settings label {
    margin-bottom: 5px;
    display: block;
}

#ywpar_product_category_settings .desc {
    color: rgba(0,0,0,0.5);
    margin-top: 5px;
    display: block;
}

#ywpar_product_category_settings .yith-plugin-fw-panel-wc-row {
    margin: 20px 0;
}

input.ywpar_points_product_category,
#ywpar_product_category_settings #max_point_discount,
#ywpar_product_category_settings #ywpar_redemption_percentage_discount{
    max-width: 60px;
}

.form-field.ywpar_points_product_category .yith-plugin-fw-text-field-wrapper,
.form-field.ywpar_max_point_discount .yith-plugin-fw-text-field-wrapper,
.form-field.ywpar_redemption_percentage_discount .yith-plugin-fw-text-field-wrapper
{
    display: inline-block;
    width: auto;
}

#ywpar_product_category_settings .ywpar_points_type {
    margin-left: 5px;
}

#ywpar_product_category_settings .form-field.ywpar_start_end_date input {
    display: inline-block;
    width: 48%;
}