.stm_zoom_addons {
    display: flex;
    flex-wrap: wrap;
    h1 {
        margin: 40px 15px;
        width: 100%;
        flex: 0 0 100%;
    }
    .addon_item {
        width: 25%;
        flex: 0 0 25%;
        margin-bottom: 30px;
        box-sizing: border-box;
        padding: 0 15px;
        .addon-wrap {
            padding: 30px 30px;
            background-color: #fff;
            border-radius: 10px;
            position: relative;
        }
        .addon_name {
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 15px;
        }
        .addon_action {
            font-size: 16px;
            a {
                text-decoration: none;
            }
        }
        &.enable {
            .addon_enable {
                display: none;
            }
            .addon-wrap {
                &:before {
                    content: "\e959";
                    font-family: 'Linearicons';
                    display: inline-block;
                    font-size: 30px;
                    position: absolute;
                    top: 15px;
                    right: 15px;
                    color: #2db52d;
                }
            }
        }
        &.disable {
            .addon_disable {
                display: none;
            }
        }
        .addon_disable {
            a {
                color: red;
            }
        }
        .addon_enable {
            a {
                color: #2db52d;
            }
        }
    }
}