.stm_zoom_content {
    padding: 25px 0;
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    .zoom_image {
        width: 30%;
        flex: 0 0 30%;
        padding: 0 15px;
        & + .zoom_info {
            width: 70%;
            flex: 0 0 70%;
        }
    }
    .zoom_info {
        width: 100%;
        flex: 0 0 100%;
        padding: 0 15px;
    }
    .zoom_description {
        padding: 25px 15px;
        width: 100%;
        flex: 0 0 100%;
    }
    h2 {
        font-size: 36px;
        line-height: 42px;
        margin: 0 0 30px;
    }
    .date {
        margin-bottom: 20px;
    }
    .agenda {
        margin-bottom: 20px;
    }
    .password {
        margin-bottom: 20px;
        .value {
            font-weight: 700;
        }
    }
    .stm-join-btn {
        display: inline-block;
        padding: 15px 30px;
        font-size: 16px;
        line-height: 16px;
        text-transform: uppercase;
        border-radius: 50px;
        background-color: #0e71eb;
        color: #fff;
        text-decoration: none;
        font-weight: 700;
        border: 2px #0e71eb solid;
        transition: .3s;
        margin-bottom: 10px;
        &:hover {
            background-color: transparent;
            color: #0e71eb;
        }
        &.join_in_menu {
            margin-right: 10px;
        }
        &.outline {
            background: none;
            color: #0e71eb;
            &:hover {
                background: #0e71eb;
                color: #fff;
            }
        }
    }
}
.countdown_title {
    text-align: center;
}
.stm_zooom_countdown {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    padding: 30px 30px 67px;
    .countDays,
    .countHours,
    .countMinutes,
    .countSeconds {
        position: relative;
        display: block;
        width: 88px;
        text-align: center;
        float: left;
        border-top: 3px solid #676d70;
        border-bottom: 3px solid #495154;
        border-radius: 5px;
        @media (max-width: 640px) {
            width: 50px;
            height: 60px !important;
        }
        &:before {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 50%;
            z-index: 10;
            bottom: 0;
            left: 0;
            background-color: #525b5f;
            border-bottom-left-radius: 2px;
            border-bottom-right-radius: 2px;
        }
        &:after {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 50%;
            z-index: 10;
            top: 0;
            left: 0;
            background-color: #3b4448;
            border-top-left-radius: 2px;
            border-top-right-radius: 2px;
        }
        .countdown_label {
            position: absolute;
            bottom: -40px;
            left: 0;
            width: 100%;
            text-align: center;
            color: #495154 !important;
            text-transform: uppercase;
            font-size: 15px;
            @media (max-width: 640px) {
                font-size: 10px;
                margin: 10px 0;
                line-height: 26px;
            }
        }
        .position {
            position: relative;
            display: block;
            width: 44px;
            height: 98px;
            float: left;
            color: #fff;
            font-size: 50px;
            line-height: 98px;
            z-index: 11;
            font-weight: 700;
            margin: 0;
            @media (max-width: 640px) {
                width: 25px;
                height: 60px;
                line-height: 60px;
                font-size: 27px !important;
            }
            .digit {
                position: absolute;
                width: 44px;
                height: 98px;
                padding-right: 2px;
                text-align: right;
                line-height: 98px;
                top: 0;
                left: 0;
                @media (max-width: 640px){
                    width: 25px;
                    height: 60px;
                    line-height: 60px;
                }
            }
            &:last-child .digit {
                text-align: left;
                padding-left: 2px;
            }
        }
    }
    .countDiv {
        display: block;
        float: left;
        width: 29px;
        position: relative;
        opacity: 1;
        @media (max-width: 640px) {
            height: 60px;
            width: 10px;
        }
        &:before,
        &:after {
            content: '';
            display: block;
            position: absolute;
            width: 8px;
            height: 8px;
            z-index: 10;
            background-color: #414b4f;
            border-radius: 50%;
            left: 50%;
            margin-left: -4px;
            top: 40px;
            @media (max-width: 640px) {
                width: 5px;
                height: 5px;
                margin-left: -2px;
                top: 25px;
            }
        }
        &:after {
            top: 56px;
            @media (max-width: 640px) {
                top: 35px;
            }
        }
    }
}
#zmmtg-root {
    z-index: 999;
    .chat-container {
        .dropdown-menu {
            list-style: none;
            padding-left: 0;
        }
        .chat-scrollbar {
            max-height: 400px;
        }
    }
}
body:not(.full-screen) {
    #zmmtg-root {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
        display: none;
        z-index: 9999;

        &.active {
            display: block;
            margin-bottom: 30px;
        }
        .meeting-app, .meeting-client, .meeting-client-inner, .meeting-client-inner > div, #dialog-join {
            position: absolute !important;
            min-width: 100% !important;
            width: 100% !important;
            min-height: 100% !important;
            height: 100% !important;
            left: 0 !important;
            top: 0 !important;
        }
        #dialog-join {
            top: auto !important;
            bottom: 0 !important;
            min-height: 50% !important;
            height: 50% !important;
        }
        .meeting-app {
            overflow: hidden;
            & > span {
                max-width: 100%;
            }
        }
        .active-main {
            width: 100% !important;
            height: 100% !important;
            position: relative !important;
        }
        #sv-active-video {
            position: absolute !important;
            left: 0 !important;
            top: 0 !important;
            min-height: 100% !important;
            min-width: 100% !important;
        }
    }
}

body.full-screen.ReactModal__Body--open {
    overflow: hidden !important;
    width: 100% !important;
    height: 100% !important;
}

.stm-lessons {
    .stm_zoom_wrap {
        .stm_zooom_countdown {
            .countDays,
            .countHours,
            .countMinutes,
            .countSeconds {
                @media (max-width: 768px) {
                    height: auto !important;
                }
                @media (max-width: 640px) {
                    height: 60px !important;
                    .position {
                        margin-top: 0;
                    }
                }
            }
            .countDiv {
                &:before {
                    top: 50px;
                }
                &:after {
                    top: 76px;
                }
                @media (max-width: 640px) {
                    &:before {
                        top: 25px;
                    }
                    &:after {
                        top: 35px;
                    }
                }
            }
        }
    }
}

.stm_zoom_grid_container {
    width: 1200px;
    max-width: 100%;
    .stm_zoom_grid {
        display: flex;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;
        &__item {
            padding-right: 15px;
            padding-left: 15px;
            width: 33.33%;
            flex: 0 0 33.33%;
            margin-bottom: 30px;
            @media (max-width: 767px) {
                width: 50%;
                flex: 0 0 50%;
            }
            @media (max-width: 480px) {
                width: 100%;
                flex: 0 0 100%;
            }
            .single_meeting {
                box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1);
                border-radius: 10px;
                overflow: hidden;
            }
            .image {
                img {
                    border-radius: 10px 10px 0 0;
                    display: block;
                }
            }
            .info {
                border-radius: 0 0 10px 10px;
                background: #eef1f7;
                padding: 30px 30px;
                .title {
                    margin-bottom: 10px;
                    a {
                        text-decoration: none;
                        h3 {
                            font-size: 20px;
                            line-height: 28px;
                            margin: 0;
                            font-weight: 500;
                            color: #333;
                        }
                    }
                }
                .zoom_date {
                    color: #4689fc;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 18px;
                    margin-bottom: 30px;
                    .price {
                        display: block;
                        color: #757575;
                        position: relative;
                        margin: 5px 0;
                        font-family: inherit;
                        & * {
                            color: #757575;
                            background: none;
                            opacity: 1;
                            font-family: inherit;
                        }
                    }
                }
                .zoom_host {
                    display: flex;
                    flex-wrap: wrap;
                    .host_image {
                        width: 60px;
                        padding-right: 10px;
                        img {
                            border-radius: 50%;
                        }
                    }
                    .host_info {
                        width: calc(100% - 60px);
                        .host_title, .host_title a {
                            font-size: 16px;
                            line-height: 19px;
                            font-weight: 700;
                            margin-bottom: 4px;
                            text-decoration: none;
                        }
                        .host_timezone {
                            font-size: 12px;
                            line-height: 15px;
                            color: #777;
                        }
                    }
                }
            }
        }
        &.per_row_1 {
            .stm_zoom_grid__item {
                width: 100% !important;
                flex: 0 0 100% !important;
            }
        }
        &.per_row_2 {
            .stm_zoom_grid__item {
                width: 50%;
                flex: 0 0 50%;
            }
        }
        &.per_row_4 {
            .stm_zoom_grid__item {
                width: 25%;
                flex: 0 0 25%;
            }
        }
        &.per_row_5 {
            .stm_zoom_grid__item {
                width: 20%;
                flex: 0 0 20%;
            }
        }
    }
}
