.user_title_box {
    background-color: #eef1f7;
    padding: 70px 0;
    margin-bottom: 70px;
    .container {
        width: 1200px;
        max-width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        .product-host {
            .host_user {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                .user_avatar {
                    padding-right: 30px;
                }
                h1 {
                    margin: 0 0 20px 0;
                    font-size: 36px;
                    line-height: 36px;
                }
            }
        }
    }
}
.author_meetings {
    width: 1200px;
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
}