.stm_zoom_table-wrap {
    width: 100%;
    overflow-x: auto;
    .stm_zoom_table {
        width: 100%;
        border-collapse: collapse;
        text-align: left;
        min-width: 1000px;
        margin-bottom: 30px;
        th, td {
            padding: 8px 10px;
            border-bottom: 1px #ccc solid;
        }
    }
}

.button.load_button {
    border-radius: 50px !important;
}

#stm_zoom_add_user {
    .form-group {
        margin-bottom: 30px;
        label {
            width: 150px;
            display: inline-block;
            margin-right: 10px;
        }
        input,
        select {
            width: 300px;
        }
    }
}

.report_wrap {
    padding: 30px;
    background-color: #fff;
    margin: 30px 15px;
    table {
        margin-top: 20px;
    }
    h1 {
        margin-bottom: 40px;
    }
    a {
        text-decoration: none;
        font-weight: 700;
    }
}

.assign_host_page {
    padding: 30px;
    background-color: #fff;
    margin: 30px 15px;
    overflow: hidden;
    .stm-lms-tab {
        padding: 30px 0 0 0;
    }
    h1 {
        margin-bottom: 40px;
    }
    input {
        margin-bottom: 0 !important;
    }
}

.add_zoom_user_page {
    padding: 30px;
    background-color: #fff;
    margin: 30px 15px;
    h1 {
        margin-bottom: 40px;
    }
    .stm-lms-tab {
        padding: 30px 0 0 0;
    }
}

.stm_zoom_nonce {
    padding: 20px;
    border-left: 3px solid transparent;
    margin-left: 0 !important;
    &.error {
        border-left-color: #d30c5c;
    }
    &.success {
        border-left-color: green;
    }
}

.stm_zoom_reports {
    padding: 30px;
    background-color: #fff;
    margin: 30px 15px;
    h1 {
        margin-bottom: 40px;
    }
    table {
        margin-top: 30px;
    }
    .stm_zoom_nonce {
        margin-top: 30px;
    }
}

.stm_zoom_pro_popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    .zoom_overlay {
        background: rgba(0, 0, 0, .5);
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
    }
    .zoom_close {
        position: absolute;
        z-index: 3;
        right: -30px;
        top: 0;
        width: 23px;
        height: 23px;
        cursor: pointer;
        &:before {
            content: '';
            position: absolute;
            display: block;
            width: 5px;
            height: 25px;
            background-color: #fff;
            transform: rotate(45deg);
            top: 0;
            left: 9px;
        }
        &:after {
            content: '';
            position: absolute;
            display: block;
            width: 5px;
            height: 25px;
            background-color: #fff;
            transform: rotate(-45deg);
            top: 0;
            left: 9px;
        }
    }
}
.zoom_popup {
    position: absolute;
    left: 50%;
    top: 50%;
    background: #fff;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    width: 740px;
    max-width: 100%;
    z-index: 3;
    text-align: center;
    .popup_title {
        h2 {
            font-size: 30px;
            line-height: 30px;
            font-weight: 700;
            padding-top: 55px;
            margin-top: 0;
            margin-bottom: 25px;
        }
    }
    .popup_subtitle {
        font-size: 15px;
        line-height: 24px;
        color: rgba(#333333, .6);
        margin-bottom: 35px;
        width: 400px;
        max-width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
    .popup_footer {
        background: #f2f4f5;
        padding: 18px 25px 8px;
        font-size: 16px;
        line-height: 24px;
        text-align: left;
        display: flex;
        flex-wrap: wrap;
        color: #333;
        border-radius: 0 0 5px 5px;
        justify-content: space-between;
        align-items: center;
        a {
            font-weight: 700;
            color: #333;
            text-decoration: none;
        }
        .text {
            margin-right: 15px;
            margin-bottom: 10px;
        }
        .pro_button {
            color: #fff;
            border-radius: 5px;
            background-image: -moz-linear-gradient( 90deg, rgb(59,130,251) 0%, rgb(84,161,255) 100%);
            background-image: -webkit-linear-gradient( 90deg, rgb(59,130,251) 0%, rgb(84,161,255) 100%);
            background-image: -ms-linear-gradient( 90deg, rgb(59,130,251) 0%, rgb(84,161,255) 100%);
            box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
            background-color: #4a94fd;
            padding: 8px 25px;
            display: inline-block;
            margin-bottom: 10px;
        }
    }
}

.zoom_pro_notice {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px 15px;
    background-color: #3c3d4a;
    color: #fff;
    border-radius: 5px;
    padding: 9px;
    align-items: center;
    .free {
        display: flex;
        align-items: center;
        img {
            margin-right: 13px;
        }
        .zoom_title {
            font-size: 18px;
            font-weight: 700;
            margin-right: 7px;
        }
        .zoom_subtitle {
            font-size: 13px;
            color: #d2d2d4;
        }
    }
    .pro {
        a {
            color: #fff;
            border-radius: 5px;
            background: linear-gradient(315deg, #ff003c, #9600ff);
            background-size: 400% 400%;

            -webkit-animation: gradientAnimation 7s ease infinite;
            -moz-animation: gradientAnimation 7s ease infinite;
            animation: gradientAnimation 7s ease infinite;
            padding: 11px 22px;
            display: inline-block;
            text-transform: uppercase;
            text-decoration: none;
        }
    }
}

body.post-type-stm-zoom,
body.post-type-stm-zoom-webinar {
    .zoom_pro_notice {
        margin: 60px 15px 30px 0;
    }
    #sync_meetings {
        color: #4a8cff;
        border: 1px solid #4a8cff;
        margin-left: 10px;
    }
}

.eroom-get-pro {
    font-weight: bold;
}

.eroom_page_stm_zoom_settings {
    #wpbody-content {
        display: flex;
        flex-wrap: wrap;
        h1 {
            width: 100%;
        }
        .stm-lms-settings {
            margin-right: 30px;
            #shortcodes {
                width: 740px;
                max-width: 100%;
            }
        }
        .zoom_popup {
            position: relative;
            height: 100%;
            left: 0;
            transform: none;
            top: 0;
            margin-top: 40px;
            box-shadow: 0 1px 3px rgba(0,0,0,.3);
        }
    }
}

@-webkit-keyframes gradientAnimation {
    0%{background-position:9% 0%}
    50%{background-position:92% 100%}
    100%{background-position:9% 0%}
}
@-moz-keyframes gradientAnimation {
    0%{background-position:9% 0%}
    50%{background-position:92% 100%}
    100%{background-position:9% 0%}
}
@keyframes gradientAnimation {
    0%{background-position:9% 0%}
    50%{background-position:92% 100%}
    100%{background-position:9% 0%}
}
.hidden {
    display: none;
}